body, html {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
}

.clickMe_div {
  display: inline-flex;
  background: #694F63;
  padding: 20px;
  padding-bottom: 40px;
  width: 91%;
  height: 60px;
  display: block;
}

.clickMe_div_left {
  float: left;
}

.clickMe_div_right {
  float: right;
}

.content_div {
  background: ;
  padding: 20px;
  width: 91%;
  display: none;
  border: 1px solid #000;
}

.main-title {
  font-family: 'Roboto', sans-serif;
  font-size: 23px;
  text-align: left;
  color: white;
  margin-top: 10px;
}

.dop-title {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font-size: 15px;
  margin-top: 6px;
  color: #E4D3CB;
}

.number {
  font-size: 35px;
  color: white;
  margin-top: 12px;
  margin-right: 20px;
  font-family: 'Roboto', sans-serif;
}

#clickMe1 {
  background: #674D5E;
}

#clickMe2 {
  background: #808487;
}

#clickMe3 {
  background: #94AEA3;
}

#clickMe3 {
  background: #94AEA3;
}

#clickMe4 {
  background: #C0A193;
}

#clickMe5 {
  background: #858585;
}

#clickMe6 {
  background: #D8BD5C;
}

#clickMe7 {
  background: #C9684C;
}

#clickMe8 {
  background: #815277;
}
