body, html {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
}


/* секция разделителя (начало) */

.section_gap {
  display: flex;
  width: 100%;
  height: 35px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  opacity: 0,5;
}

.section_title {
  color: #E4D3CB;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin-left: 20px;
  margin-top: 8px;
  font-weight: bold;
}

#farm {
  background-color: #BF8554;
}

#item {
  background-color: #674D5E;
}

/* секция разделителя (конец) */


.clickMe_div {
  display: inline-flex;
  background: #694F63;
  padding: 20px;
  padding-top: 17px;
  padding-bottom: 30px;
  width: 100%;
  height: 55px;
  display: block;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

.clickMe_div_left {
  float: left;
}

.clickMe_div_right {
  float: right;
}

.content_div {
  background: #EAD9D1;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  width: 100%;
  display: none;
  /* border: 1px solid #C4C4BC; */
  color: white;
  font-family: 'Roboto', sans-serif;
}

.txt {
  margin-top: 0px;
  margin-bottom: 0px;
}

.main-title {
  font-family: 'Roboto', sans-serif;
  font-size: 23px;
  text-align: left;
  color: white;
  margin-top: 10px;
}

.dop-title {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font-size: 15px;
  margin-top: 6px;
  color: #E4D3CB;
}

.number {
  font-size: 35px;
  color: white;
  margin-top: 12px;
  margin-right: 50px;
  font-family: 'Roboto', sans-serif;
}




/* Стили контейнеров вещей */

#clickMe1 {
  background: #674D5E;
}

#picframe1 {
  background-color: #674D5E;
}

#clickMe2 {
  background: #808487;
}

#picframe2 {
  background-color: #808487;
}

#clickMe3 {
  background: #94AEA3;
}

#picframe3 {
  background-color: #94AEA3;
}

#clickMe4 {
  background: #C0A193;
}

#picframe4 {
  background-color: #C0A193;
}

#clickMe5 {
  background: #858585;
}

#picframe5 {
  background-color: #858585;
}

#clickMe6 {
  background: #D8BD5C;
}

#picframe6 {
  background-color: #D8BD5C;
}

#clickMe7 {
  background: #C9684C;
}

#picframe7 {
  background-color: #C9684C;
}

#clickMe8 {
  background: #815277;
}

#picframe8 {
  background-color: #815277;
}


/* Стили контейнеров лекарств */

#clickMe9 {
  background: #BF8554;
}

#picframe9 {
  background-color: #BF8554;
}

#clickMe10 {
  background: #C87878;
}

#picframe10 {
  background-color: #C87878;
}

#clickMe11 {
  background: #9C929C;
}

#picframe11 {
  background-color: #9C929C;
}



/* Стили инпута поиска и оутпут результата поиска */

.input_s {
  width: 170px;
  height: 30px;
  position: fixed;
  bottom: 30px;
  left: 125px;
  background: #434852;
  opacity: 0.5;
  border: 1px solid #434852;
  border-radius: 28px;
  color: white;
  font-size: 16px;
  outline: none;
}

.output_area {
  display: none;
  width: 185px;
  height: 40px;
  position: fixed;
  bottom: 80px;
  left: 30%;
  right: 30px;
  background: #434852;
  opacity: 0.5;
  border: 1px solid #434852;
  border-radius: 28px;
  color: white;
  font-size: 16px;
  outline: none;
}

.output_area p {
  margin-top: 5px;
  margin-left: 10px;
  color: white;
}
