body {
  margin: 0;
  padding: 0;
}

.main-title {
  font-family: 'Roboto', sans-serif;
  font-size: 23px;
  text-align: left;
  color: white;
}

.dop-title {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font-size: 15px;
  margin-top: 6px;
  color: #E4D3CB;
}

.clickMe_div {
  background: #694F63;
  padding: 20px;
  text-align: center;
  width: 91%;
  height: 60px;
  display: block;
}

.content_div {
  background: ;
  padding: 20px;
  width: 91%;
  display: none;
  border: 1px solid #000;
}

#clickMe1 {
  background: #815277;
}

#clickMe2 {
  background: #808487;
}

#clickMe3 {
  background: #94AEA3;
}

#clickMe3 {
  background: #94AEA3;
}

#clickMe4 {
  background: #C0A193;
}

#clickMe5 {
  background: #858585;
}

#clickMe6 {
  background: #D8BD5C;
}

#clickMe7 {
  background: #C9684C;
}

#clickMe8 {
  background: #815277;
}
